<div class="row">
  <div class="column">
    <div>
    <h2>Registreer Uitslagen Gezondheidstesten</h2>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-left">
          <label>
            <span>Datum Onderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="dateOfExamination">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Patella onderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text" formControlName="patella">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Heuponderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="heupen">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Oogonderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="ogen">
        </div>
      </div>

  <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
  </div>
  <div class="column">
    <h2>Overzicht uitslagen</h2>
    <div class="flex-container"  *ngFor="let healthTest of healthTests">
      <h3>Datum</h3>
      <p>{{healthTest.dateOfExamination}}</p>
      <h3>Patella</h3>
      <p>{{healthTest.patella}}</p>
      <h3>Heupen</h3>
      <p>{{healthTest.heupen}}</p>
      <h3>Oogonderzoek</h3>
      <p>{{healthTest.ogen}}</p>
  </div>
</div>
</div>

