<div class="row">
  <div class="column">
    <div>
    <h2>Registreer Uitslagen Gezondheidstesten</h2>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-left">
          <label>
            <span>Datum Onderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="dateOfExamination">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Patella onderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text" formControlName="patella">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Heuponderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="heupen">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag Oogonderzoek:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date" formControlName="ogen">
        </div>
      </div>

  <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
  </div>
  <div class="column">
    <h2>Overzicht uitslagen</h2>
    <div class="flex-container"  *ngFor="let healthTest of healthTests; let i = index">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" [attr.data-target]="'#collapse-' + i" aria-expanded="true" aria-controls="collapseOne">
                <p>{{healthTest.dateOfExamination}}</p>
              </button>
            </h2>
          </div>

          <div id="collapseOne" [attr.id]="'collapse-' + i" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <h3>Patella</h3>
              <p>{{healthTest.patella}}</p>
              <h3>Heupen</h3>
              <p>{{healthTest.heupen}}</p>
              <h3>Oogonderzoek</h3>
              <p>{{healthTest.ogen}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
