h2 {
  font-family: "Times New Roman", Times, serif;
  color: #a1566f;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}

h3, p{
  font-family: "Times New Roman", Times, serif;
  color: #a1566f;
  text-align: center;
  padding-top: 10px;
}

.card{
  background-color: #eeeeee;
  width: 300px;
}

.card-header{
  width: 300px;
}

.card-body{
  width: 300px;
}

.row {
  display: flex;
}

.column {
  padding-left: 20px;
  flex: 33%;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #151116;
  background-color: #eeeeee;
}

input[type=date] {
  border: none;
  border-bottom: 2px solid #151116;
  background-color: #eeeeee;
}

.col-left {
  padding-left: 20px;
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-right {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.flex-container h3, p {
  font-family: "Times New Roman", Times, serif;
  margin: 3px;
}
