 <div class="row">
   <div class="column">
    <table>
      <thead>
      <tr>
        <th>Geboortedatum</th>
        <th>Pups</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let litter of litters">
        <td>{{ litter.birthDateOfLitter }}</td>
        <td>
          <div class="flex-container">
      <span *ngFor="let pup of litter.pupsOfLitter">
        <p>
          <button routerLink="['/puppygroei/register']" (click)="setId(pup.id)">{{pup.pedigreeName}}</button>
        </p>
      </span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
   <div class="column">
     <div class="form-container">
     <app-register-puppy-weight-form [dogId]="dogId" [afterSave]="clearDogId" *ngIf="dogId"></app-register-puppy-weight-form>
     </div>
   </div>
</div>
