
<div class="row">
  <div class="column">
    <img src="http://www.shibapedigree.com/pics/medium/2643/med_5dc42af385080.jpeg" alt="Baggio">
  </div>
  <div class="column">
    <h2>Informatie</h2>
    <div class="flex-container" *ngIf="dog">
      <p>Naam</p>
      <span>{{dog.pedigreeName}}</span>
      <p>Geboortedatum</p>
      <span>{{dog.formattedBirthDate}}</span>
      <p>Geslacht</p>
      <span>{{dog.sex}}</span>
    </div>
  </div>
  <div class="column">
    <h2>Stamboom</h2>
  </div>
</div>
