h1 {
  font-family: "Times New Roman", Times, serif;
  color: #a1566f;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}

ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #151116;
}

input[type=date] {
  border: none;
  border-bottom: 2px solid #151116;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid #151116;
}

input[type=submit] {
   border: none;
   width: 60px;
 }
input[type=file] {
  border: none;
}

select {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.label{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.col-left {
  padding-left: 20px;
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-right {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-left, .col-right, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.flex-container{
  display: flex;
  flex-direction: column;
}

