<div class="container-fluid">
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      <span>Stamboomnaam Moeder:</span>
    <input type="text" formControlName="pedigreeNameOfMother" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>
     <span>Stamboomnaam Vader:</span>
    <input type="text" formControlName="pedigreeNameOfFather"  class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>
      <span>Geboortedatum Nest:</span>
    <input type="date" formControlName="birthDateOfLitter" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>
      <span>Aantal pups:</span>
  <input type="number" formControlName="aantalPups" min="1" max="10" (change)="onChange()">
    </label>
  </div>
  <div class="form-group">
    <ul formArrayName="puppies">
      <li *ngFor="let puppy of registrationForm.controls.puppies.controls; let i = index">
        <div formGroupName="{{i}}">
        <span>Stamboomnaam van de pup</span>
        <input type="text" formControlName="pedigreeName">
          <select formControlName="sex">
            <option value="Reu">
              Reu
            </option>
            <option value="Teef">
              Teef
            </option>
          </select>
        </div>
      </li>
    </ul>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>
