<div class="row">
  <div class="column">
    <div>
      <h2>Registreer Showuitslagen</h2>
    </div>
    <form>
      <div class="row">
        <div class="col-left">
          <label>
            <span>Datum Show:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="date">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Naam Show:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Naam keurmeester:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Naam hond:</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Showklasse</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text">
        </div>
      </div>

      <div class="row">
        <div class="col-left">
          <label>
            <span>Uitslag</span>
          </label>
        </div>
        <div class="col-right">
          <input type="text">
        </div>
      </div>

      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>

  <div class="column">
    <h2>Overzicht Showuitslagen</h2>
</div>
</div>
