<div class="container">
<form>

  <h2>Gewicht van de pup in week:</h2>

  <div class="row">
    <div class="col-left">
      <label>
        <span>Id:</span>
      </label>
    </div>
    <div class="col-right">
      {{dogId}}
    </div>
  </div>

  <div class="row">
    <div class="col-left">
      <label>
        <span>Weeknummer:</span>
      </label>
    </div>
    <div class="col-right">
      <input type="text">
    </div>
  </div>

  <div class="row">
    <div class="col-left">
      <label>
        <span>Gewicht:</span>
      </label>
    </div>
    <div class="col-right">
      <input type="text">
    </div>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>
