<div class="container-fluid">
  <div class="row">
  <table>
    <thead>
    <tr>
      <th>Moeder</th>
      <th>Vader</th>
      <th>Geboortedatum</th>
      <th>Pups</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let litter of litters">
      <td>{{ litter.pedigreeNameOfMother }}</td>
      <td>{{ litter.pedigreeNameOfFather }}</td>
      <td>{{ litter.birthDateOfLitter }}</td>
      <td>
        <div class="flex-container">
      <span *ngFor="let pup of litter.pupsOfLitter">
          <span [routerLink]="['/dogs', pup.id]">{{pup.pedigreeName}}</span>
      </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

