span[ng-reflect-router-link] {
  cursor: pointer;
}

span:hover span {
  color: #9a687a;
}

th{
  font-size: 2em; margin: .67em 0;
  font-family: "Times New Roman", Times, serif;
  color: #a1566f;
  font-weight: bold;
  border-bottom: 1px solid #151116;
}

th, td {
  padding: 10px;
  text-align: left;
}

.table{
  width: 50%;
}

.flex-container{
  display: flex;
  flex-direction: column;
}
