<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Moeder</th>
      <th>Vader</th>
      <th>Geboortedatum</th>
      <th>Pups</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let litter of litters">
      <td>{{ litter.pedigreeNameOfMother }}</td>
      <td>{{ litter.pedigreeNameOfFather }}</td>
      <td>{{ litter.birthDateOfLitter }}</td>
      <td>
      <span *ngFor="let pup of litter.pupsOfLitter">
        {{pup.pedigreeName}}
        {{pup.formattedBirthDate}}
        {{pup.sex}}
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
